{{#if id}}
<div class="container content pt-3">
	<div class="display-4 row">
		<div class="col-lg-6">{{beer.name}}</div>
		<div class="text-lg-right col-lg-6">
			<a href="/beers/{{beer.id}}/reviews/add" class="btn btn-primary"><i class="fas fa-star"></i> Add review</a>
			<a href="/beers/{{beer.id}}/edit" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit beer</a>
		</div>
	</div>
	<div class="beer-info row">
		<div class="col-md-9">
			<div class="brewery lead">
				<a href="/breweries/{{beer.brewery_id}}">{{beer.brewery}}</a>
				<small class="text-muted">({{#if beer.city}}{{beer.city}}, {{/if}}{{#if beer.state}}{{beer.state}}, {{/if}}{{beer.country}})</small>
			</div>
			<div class="style">
				Style: <a href="/styles/{{beer.style_id}}">{{beer.style}}</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="abv">ABV: {{beer.abv}}%</div>
			<div class="ibu">IBU: {{beer.ibu}}</div>
		</div>
	</div>
	<div class="rating-info py-3">
		<div class="beer-rating"><i class="fas fa-star rating-star"></i> {{decimal beer.avg_rating}}</div>
		<div class="text-muted"><small>{{beer.num_reviews}} reviews</small></div>
	</div>
	<h2>Reviews</h2>
		{{#each reviews}}
		<div class="review py-3 border-top">
			<div class="review-info row">
				<div class="col-9">
					<div class="review-user text-bold">{{#if user_id}}<a href="/users/{{user_id}}">{{user_name}}</a>{{else}}Anonymous{{/if}}</div>
					<div class="review-date text-muted"><small>{{formatDate rev_date}}</small></div>
				</div>
				<div class="user-rating col-3 text-right"><i class="fas fa-star rating-star"></i> {{decimal rating}}</div>
			</div>
			<div class="user-comments">{{comments}}</div>
			<a href="/beers/{{../beer.id}}/reviews/{{rev_id}}/edit" class="btn btn-primary"><i class="fas fa-star"></i> Edit review</a>
		</div>
		{{/each}}
</div>

{{else if q}}
<div class="container content pt-3">
	<h1 class="display-4">Results for "{{q}}"</h1>
	<div class="row">
		<div class="col-md-9">
			<table class="table beer-table">
				<thead>
					<tr>
						<th></th>
						<th>Beer</th>
						<th>Brewery</th>
						<th>Style</th>
						<th>Average rating</th>
		      </tr>
				</thead>
				<tbody>
				{{#each results}}
					<tr>
						<td>{{inc @index}}</td>
						<td><a href="/beers/{{id}}">{{name}}</a></td>
						<td><a href="/breweries/{{brewery_id}}">{{brewery}}</a></td>
						<td><a href="/styles/{{style_id}}">{{style}}</a></td>
						<td>{{decimal avg_rating}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<a href="/beers/add" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> Add a beer</a>
			<a href="/styles" class="btn btn-outline-secondary btn-lg btn-block">Search by style</a>
		</div>
	</div>

</div>

{{else}}
<div class="container content pt-3">
	<h1 class="display-4">Top beers</h1>
	<div class="row">
		<div class="col-md-9">
			<table class="table beer-table">
				<thead>
					<tr>
						<th></th>
						<th>Beer</th>
						<th>Brewery</th>
						<th>Style</th>
						<th>Average rating</th>
						<th>Number of ratings</th>
		      </tr>
				</thead>
				<tbody>
					{{#each beers}}
					<tr>
						<td>{{inc @index}}</td>
						<td><a href="/beers/{{beer_id}}">{{name}}</a></td>
						<td><a href="/breweries/{{brewery_id}}">{{brewery}}</a></td>
						<td><a href="/styles/{{style_id}}">{{style}}</a></td>
						<td>{{decimal avg_rating}}</td>
						<td>{{num_reviews}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<a href="/beers/add" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> Add a beer</a>
			<a href="/breweries" class="btn btn-outline-secondary btn-lg btn-block">Search by brewery</a>
			<a href="/styles" class="btn btn-outline-secondary btn-lg btn-block">Search by style</a>
		</div>
	</div>
</div>
{{/if}}