<div class="container content pt-3">
	<h1 class="display-4">Recent reviews</h1>
	{{#each reviews}}
	<div class="review py-3 border-top">
		<div class="review-info row">
			<div class="col-9">
				<h2 class="review-veer text-bold"><a href="/beers/{{beer_id}}">{{beer}}</a></h2>
				<div class="review-user text-bold">{{#if user_id}}<a href="/users/{{user_id}}">{{username}}</a>{{else}}Anonymous{{/if}}</div>
				<div class="review-date text-muted"><small>{{rev_date}}</small></div>
			</div>
			<div class="user-rating col-3 text-right"><i class="fas fa-star rating-star"></i> {{decimal rating}}</div>
		</div>
		<div class="user-comments">{{comments}}</div>
	</div>
	{{/each}}
</div>
