{{#if id}}
<div class="container content pt-3">
	<h1 class="display-4">{{user.user_name}}</h1>
	{{#each reviews}}
	<div class="review py-3 border-top">
		<div class="review-info row">
			<div class="col-9">
				<h2 class="review-veer text-bold"><a href="/beers/{{beer_id}}">{{beer_name}}</a></h2>
				<div class="review-date text-muted"><small>{{formatDate rev_date}}</small></div>
			</div>
			<div class="user-rating col-3 text-right"><i class="fas fa-star rating-star"></i> {{decimal rating}}</div>
		</div>
		<div class="user-comments">{{comments}}</div>
		<a href="/beers/{{beer_id}}/reviews/{{rev_id}}/edit" class="btn btn-primary"><i class="fas fa-star"></i> Edit review</a>
	</div>
	{{/each}}
</div>

{{else}}
<div class="container content pt-3">
	<h1 class="display-4">Users</h1>
	<div class="row">
		<div class="col-md-9">
			<table class="table user-table">
				<thead>
					<tr>
						<th></th>
						<th>User</th>
						<th>Number of reviews</th>
		      </tr>
				</thead>
				<tbody>
					{{#each users}}
					<tr>
						<td>{{inc @index}}</td>
						<td><a href="/users/{{user_id}}">{{user_name}}</a></td>
						<td>{{num_reviews}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

		<div class="col-md-3">
			<a href="/users/add" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> Add a user</a>
		</div>
	</div>
</div>
{{/if}}