<div class="container content pt-3">
	<h1 class="display-4">
		{{#if id}}Edit <a href="/venues/{{venue.id}}">{{venue.name}}</a>
		{{else}}Add a venue{{/if}}
	</h1>
	<form id="venueForm" {{#if id}}action="/venues/{{venue.id}}/edit"{{else}}action="/venues/add"{{/if}} method="post">
		<div class="form-row">
			<div class="form-group col-lg-6">
				<label for="venueName">Venue name</label>
				<input type="text" class="form-control" id="venueName" name="name" value="{{venue.name}}" required>
			</div>
			<div class="form-group col-lg-6">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" name="address" value="{{venue.address}}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-lg-6">
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" name="city" value="{{venue.city}}" required>
			</div>
			<div class="form-group col-lg-6">
				<label for="state">State/Province/Region</label>
				<input type="text" class="form-control" id="state" name="state" value="{{venue.state}}" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
			<button type="submit" class="btn btn-primary">
				{{#if id}}Update venue
				{{else}}Add venue{{/if}}
			</button>
			{{#if id}}
			<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmDelete">Delete venue</button>
			<!-- Confirm delete modal -->
			<div class="modal" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
			        <h3 class="modal-title" id="deleteModalTitle">Delete venue</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
	      		</div>
	      		<div class="modal-body">
	      		Are you sure you want to delete <strong>{{venue.name}}</strong>?
	      		</div>
	      		<div class="modal-footer">
	      			<button type="button" class="btn btn-danger" onclick="deleteVenue({{id}})">Delete</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      </div>
			     </div>
				</div>
			</div>
			{{/if}}
			</div>
		</div>
	</form>
</div>
<script src="/js/deleteVenue.js"></script>